	/*Responsive Grid-View*/
/** {
	box-sizing: border-box
	}*/
body{
	background-color:#CCCCCC;
	font-family:Verdana;
	font-weight:600;
	font-size:10pt;
	/*color:#b39d92;*/
	color:#333337;
}

#wrapper{
	margin:auto;
	background-color:#5e5e5e;
	padding:15px;
	width:900px;
}

#head{
	margin-bottom:15px;
}

#content
{
	background:white;
	height:auto;
	padding:10px;
}

.green
{
	color:black;
	text-decoration: underline;
	/*color:#6699dd;*/
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 14pt;
}

.center{
	text-align:center;
	width:100%;
}
input[type=submit] {
appearance:button;
-moz-appearance:button; /* Firefox */
-webkit-appearance:button; /* Safari and Chrome */
border-radius:1em;
    /*width: 15em;  
    height: auto;*/
    background-color:#B0E0E6;
    padding:5px;
}

/* Slides */
#content #slides {
	margin: auto;
	width: 400px;
	height: 400px;
	display: block;
	background-image: url('pictures/p1.jpg');
}