body
{
background:#A2B5FF url('blu_grd.jpg') repeat-x fixed;
color:#463E3F; 
font-family:Arial, Helvetica, sans-serif;
font-size:11pt;
}

#wrapper
{
	margin: auto;
	height: 1250px;
	width:800px;
	border: 1px gray solid;
	margin-top: 10px;
	background-color:white;
}

#banner
{
	width:800px;
	height:100px;
	background-image: url('banner.jpg');
	padding-bottom: 20px;
}

#main
{
	height:auto;
	width:700px;
	margin:auto;
}

.content
{
	width: 315px; 
	height:auto; 
	margin-bottom:35px;
	text-align:center;
	border: 1px #333333 solid;
	background-color:#E9E9E9
}

.pic
{
	margin-top:15px;
	height:200px;
	width:280px;
	border-bottom:0px;
}

.caption
{
	width:100%;
	border-top:0px;
	text-align:center;
	color:#342826;
	height:35px;
	padding-top:10px;
}

li
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12pt;
}
